.my-style-3 {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-color: lightblue;
}

.my-style-4 {
    color:darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}